@model List<Lumiere.Models.Film>

@{
    ViewData["Title"] = "FilmsList";
}

<h3>FilmsList</h3>

<div class="m-1" style="border: 2px solid black">
    <div>
        <a asp-controller="Film" asp-action="Create">Добавить новый фильм</a>
    </div>

    @foreach(Film film in Model)
    {
        <div class="m-1" style="border: 1px dashed black">
            <h4>@film.Name</h4>
            <p>@film.Description</p>
            <p>@film.AgeLimit</p>
            <p>@film.ReleaseDate</p>
            <p>@film.Duration</p>
            <a asp-controller="Film" asp-action="Update" asp-route-id=@film.Id>Редактировать</a>
            <form method="post" asp-controller="Film" asp-action="Delete">
                <input type="hidden" asp-for=@film.Id name="id" />
                <input type="submit" value="Удалить" />
            </form>

            <h4>Seances</h4>
            @foreach (FilmSeance seance in film.Seances)
            {
                <div>
                    <span>@seance.Date</span>
                    <span>@seance.Time</span>
                    <span>@seance.Price</span>
                    <form method="post" asp-controller="Seance" asp-action="Delete">
                        <input type="hidden" asp-for=@seance.Id name="id"/>
                        <input type="submit" value="Удалить"/>
                    </form>
                </div>
            }

            <div>
                @await  Html.PartialAsync("CreateSeance", new Lumiere.ViewModels.CreateSeanceViewModel() { FilmId = film.Id })
            </div>
        </div>
    }
</div>