@model List<Lumiere.Models.Film>

<div class="mb-4 text-center"><span class="h5">Список фильмов</span></div>

@foreach(Film film in Model) 
{
    <div class="card mb-3" style="max-height: 255px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a asp-controller="Film" asp-action="Index" asp-route-id=@film.Id>
                    <img src=@film.Posters.First().Url class="card-img" style="max-height: 250px;" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body pl-0">
                    <div class="d-flex text-center mb-1">
                        <span class="h6 card-title text-center flex-grow-1">@film.Name @film.AgeLimit+</span>

                        <a asp-controller="Film" asp-action="Update" asp-route-id=@film.Id><i class="icofont-pencil-alt-2 ml-3"></i></a>
                        <form method="post" asp-controller="Film" asp-action="Delete">
                            <input type="hidden" asp-for=@film.Id name="id" />
                            <button type="submit"><i class="icofont-ui-delete ml-1"></i></button>
                        </form>
                    </div>

                    <div class="d-flex flex-column text-center justify-content-between mr-5">
                        <span class="text-dark mb-3">драма, приключение, семейный</span>
                        <small class="card-text text-dark">Длительность: @film.Duration</small>
                        <small class="card-text">
                            Время сеансов сегодня:
                            @foreach (FilmSeance seance in film.Seances)
                            {
                                if (seance.Date == DateTime.Today)
                                {
                                    <small class="card-text">@seance.Time.ToString("t")</small>
                                }
                            }
                        </small>
                        <small class="card-text">Формат: 2D</small>
                        <small class="card-text">@film.Description</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
}